<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <proxies>
        <proxy>
            <id>ica-proxy-http</id>
            <active>true</active>
            <protocol>http</protocol>
            <host>proxy01.ica.se</host>
            <port>8080</port>
        </proxy>
        <proxy>
            <id>ica-proxy-https</id>
            <active>true</active>
            <protocol>https</protocol>
            <host>proxy01.ica.se</host>
            <port>8080</port>
        </proxy>
    </proxies>

    <servers>
        <server>
            <id>aws-nexus-release</id>
            <username>nexus-read</username>
            <password>readonline75!</password>
        </server>
        <server>
            <id>aws-nexus-snapshots</id>
            <username>nexus-read</username>
            <password>readonline75!</password>
        </server>
        <server>
            <id>aws-online-3rd-party</id>
            <username>nexus-read</username>
            <password>readonline75!</password>
        </server>
        <server>
            <id>aws-maven-public</id>
            <username>nexus-read</username>
            <password>readonline75!</password>
        </server>
    </servers>

    <mirrors>
        <mirror>
            <id>maven-mirror</id>
            <name>Maven Repository Manager on hudson.ica.ia-hc.net</name>
            <url>https://nexus.qa.vuitonline.com/repository/maven-public/</url>
            <mirrorOf>
                central,external:*,!ica-maven,!ica-public,!ica-online-nexus-3rd-party,!ica-online-nexus-releases,!ica-online-nexus-snapshots,!aws-nexus-release,!aws-nexus-snapshots,!aws-online-3rd-party,!aws-maven-public
            </mirrorOf>
        </mirror>
    </mirrors>
</settings>
